.solid-separator{
  border-bottom: 3px solid black;
}
/* #make-an-offer{
  display:none;
} */
.auction-timer-container {
  width: 100%; 
  max-width: 100%;
}
.fancybox-container{
  z-index: 100 !important;
}
div:empty{
  display: block;
}
.grid{
  margin-bottom: 0px;
}
/* .product-block--price{
    visibility: hidden;
} */
form[method="post"][action="/cart/add"]{
  visibility: hidden;
}
 .p-dialog-header{
padding-bottom: 0px !important;
}
  .p-divider-horizontal{
  margin-top: 0px !important;
 }
/* button[name="add"][type="submit"],.shopify-payment-button{
  display: none;
} */
.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bid-label {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.25rem;
}


.bid-input {
  width: 60%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  font-size: 16px;
  border: 1px solid #f2b6a0;
  border-radius: 4px;
  outline: none;
}

.info-text {
  font-size: 14px;
  color: #666;
  margin-top: -0.5rem;
}

.proxy-button {
  width:36%;
  background-color: #eb6b4d;
  border: none;
  color: white;
  padding: 0.75rem;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.proxy-button:hover {
  background-color: #d95a3d;
}
.bid-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.bid-input {
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  font-size: 16px;
  border: 1px solid #f2b6a0;
  border-radius: 4px;
  outline: none;
}

.info-text {
  font-size: 14px;
  color: #666;
  margin-top: -0.5rem;
}

.proxy-button {
  background-color: #eb6b4d;
  border: none;
  color: white;
  padding: 0.75rem;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.proxy-button:hover {
  background-color: #d95a3d;
}
.countdown-timer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  background: #000;
  color: white;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.separator{
  border-bottom: 3px solid black;
}

.timer-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.countdown-container {
  width:80%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.time-group {
  height:80px;
  width:20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 1.4rem;
  margin-top: 5px;
}

.colon {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.circle{
  width:35px;
  height:35px;
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: orange;
}
.size {
  padding: 5px;
  width: 100%;
  
  height: 30px;
}
.is-your-bid{
  color:rgba(1, 180, 1, 0.8);

}
.btn {
  border-radius: unset;
}
.btn:hover{
  cursor: pointer;
}
.auction-timer-container h1, h2, h3, h4, h5, h6 {
 margin-top: 2px;
 margin-bottom: 2px;
}

.custom-text-color-orange {
  color: orange !important;
}

.countdown-info h5{
  color: inherit;
}