    .make-an-offer-button {
        display: block;
        width: 100%;
        border-radius: 0px;
        color: #fff;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 1.2rem;
        min-width: calc(12rem + 1px * 2);
        min-height: calc(4.5rem + 1px * 2);
        max-width: 44rem;
    }

    .offers-submit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .offer-input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
    }

    .offer-input-wrapper label {
        width: max-content;
        text-wrap: nowrap;
    }
    .offer-action-buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    .form-error {
        color: red;
        font-size: 1rem;
        margin-top: 1rem;
    }

    /* Dialog */
    
    .p-dialog-title	{
        font-size: 2rem;
    }

    /* Input fields */
    .offer-input-field {
        width: 100%;
    }
    .p-inputtext, .p-textarea {
       font-size: 16px;
    }

    [v-cloak]{
        display:none;
     }